<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JustSoo</title>            
    @Styles.Render("https://bootswatch.com/cyborg/bootstrap.min.css")    
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Style", false)
</head>
<body>    
    @Html.Partial("~/Views/Shared/_PartialNavbar.cshtml")

    <div class="container-fluid">
        <div class="row">            
            <div class="col-sm-12">
                @RenderBody()
            </div>
        </div>        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
